.transaction-item{
    display: flex;
    background-color:white;
    color: black;
    width: 500px;
    height: 50px;
    margin-top: 5px;
}
.expense-line{
    border-left: 7px solid red;



}
.income-line{
    border-left: 7px solid green;
 
}